XML_CONFIG/XSD/EU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EU">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="aggr" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="aggr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="appl" minOccurs="1"/>
				<xs:element ref="scope"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="appl">
		<xs:complexType>
			<xs:attribute name="fr" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:short">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cntry">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="cntry_type">
					<xs:attribute name="fr">
						<xs:simpleType>
							<xs:restriction base="xs:short">
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="scope">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cntry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="cntry_type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AT"/>
			<xs:enumeration value="BE"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="BK"/>
			<xs:enumeration value="CY"/>
			<xs:enumeration value="CZ"/>
			<xs:enumeration value="DE"/>
			<xs:enumeration value="DK"/>
			<xs:enumeration value="EE"/>
			<xs:enumeration value="EL"/>
			<xs:enumeration value="ES"/>
			<xs:enumeration value="FI"/>
			<xs:enumeration value="FR"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="HU"/>
			<xs:enumeration value="IE"/>
			<xs:enumeration value="IT"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="LU"/>
			<xs:enumeration value="LV"/>
			<xs:enumeration value="MT"/>
			<xs:enumeration value="NL"/>
			<xs:enumeration value="PL"/>
			<xs:enumeration value="PT"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="SE"/>
			<xs:enumeration value="SI"/>
			<xs:enumeration value="SK"/>
			<xs:enumeration value="UK"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
