XML_CONFIG/XSD/FMT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="to">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fmt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="from">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_label">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>	
	<xs:element name="label">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_label">
					<xs:attribute name="tot">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Y"/>
								<xs:enumeration value="N"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="from"/>
				<xs:element ref="to" minOccurs="0"/>
				<xs:element ref="label"/>
				<xs:element name="desc" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
