XML_CONFIG/XSD/LVAL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="check">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="loop" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="title" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="subtype" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="selresp" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="select" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="from" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="join" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="on" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="join2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="on2" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="join3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="on3" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="join4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="on4" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="where" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="group" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="having" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="start" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="end" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:integer"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="category" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="cross-sectional"/>
						<xs:enumeration value="longitudinal"/>
						<xs:enumeration value="evolution"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="module" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="adhoc"/>
						<xs:enumeration value="recur3"/>
						<xs:enumeration value="recur6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="from">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="D"/>
				<xs:enumeration value="R"/>
				<xs:enumeration value="H"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="d"/>
				<xs:enumeration value="r"/>
				<xs:enumeration value="h"/>
				<xs:enumeration value="p"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="group">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="having">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="join">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="D"/>
				<xs:enumeration value="R"/>
				<xs:enumeration value="H"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="d"/>
				<xs:enumeration value="r"/>
				<xs:enumeration value="h"/>
				<xs:enumeration value="p"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="join2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="D"/>
				<xs:enumeration value="R"/>
				<xs:enumeration value="H"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="d"/>
				<xs:enumeration value="r"/>
				<xs:enumeration value="h"/>
				<xs:enumeration value="p"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="join3">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="D"/>
				<xs:enumeration value="R"/>
				<xs:enumeration value="H"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="d"/>
				<xs:enumeration value="r"/>
				<xs:enumeration value="h"/>
				<xs:enumeration value="p"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="join4">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="D"/>
				<xs:enumeration value="R"/>
				<xs:enumeration value="H"/>
				<xs:enumeration value="P"/>
				<xs:enumeration value="d"/>
				<xs:enumeration value="r"/>
				<xs:enumeration value="h"/>
				<xs:enumeration value="p"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LVAL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="preprocessing" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="check" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="globalID">
			<xs:selector xpath="check"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	<xs:element name="on">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="on2">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="on3">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="on4">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="select">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subtype">
		<xs:complexType/>
	</xs:element>
	<xs:element name="selresp">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Y"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="where" type="xs:string"/>
	<xs:element name="loop">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="x" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="x">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[D,R,H,P]{1}[0-z]+"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="step">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="preprocessing">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="step" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


