XML_CONFIG/XSD/OUTL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="k">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="lb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="loc"/>
				<xs:element ref="k"/>
				<xs:element ref="scal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ub">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="loc"/>
				<xs:element ref="k"/>
				<xs:element ref="scal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loc">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P5"/>
				<xs:enumeration value="P10"/>
				<xs:enumeration value="Q1"/>
				<xs:enumeration value="MEAN"/>
				<xs:enumeration value="P50"/>
				<xs:enumeration value="MEDIAN"/>
				<xs:enumeration value="Q3"/>
				<xs:enumeration value="P90"/>
				<xs:enumeration value="P95"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OUTL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="variable" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="scal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="IQR"/>
				<xs:enumeration value="STD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="formula">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="LOG"/>
				<xs:enumeration value="STD"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="variable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formula"/>
				<xs:element ref="lb"/>
				<xs:element ref="ub"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[D,R,H,P]{1}[0-z]+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
