XML_CONFIG/XSD/SCL_CTRY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GEO">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="DESC"/>
			</xs:sequence>
		</xs:complexType>
		<xs:attribute name="start" type="xs:integer" use="optional"/>
		<xs:attribute name="end" type="xs:integer" use="optional"/>
	</xs:element>
	<xs:element name="DESC">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SCL_CTRY">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GEO" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
